{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}
    
<div class="footer">
    <div class="container-max footer-content">
        {% set cat = services.category.get(config('Ceres.global.category.legal_disclosure')) %}
        <div class="copyright text-center my-3">
            <div class="static-link-list">
                {% autoescape false %}
                    <a href="https://www.123lack.de/widerrufsrecht" target="_blank">{{ trans("Ceres::Template.footerCancellationRight", {"hyphen": "&shy;"}) }}</a>
                    <a href="https://www.123lack.de/impressum" target="_blank">{{ trans("Ceres::Template.footerLegalDisclosure") }}</a>
                    <a href="https://www.123lack.de/datenschutz">{{ trans("Ceres::Template.footerPrivacyPolicy", {"hyphen": "&shy;"}) }}</a>
                    <a href="https://www.123lack.de/agb">{{ trans("Ceres::Template.footerGtc") }}</a>
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>