.page-singleitem div#vue-app {
    display: none !important;
}

.payment-link-style {
    display: none !important;
}

.card-header {
    background-image : linear-gradient(to bottom, #0083E6 0%, #0060A9 100%);
    color            : #FFFFFF;
}

.page-content.myaccount {
    border : 1px solid #DADAE5;
    margin-top: 0 !important;
    padding-top: 15px;
}
nav.navbar .container-max {
    padding: 15px;
}
.card.small {
    border : 1px solid #DADAE5;
}
.btn.btn-primary .fa {
    display: none;
}
.btn.btn-primary,
.payment-confirmation-btn {
    background-clip         : padding-box;
    background-color        : #0083E6;
    background-image        : linear-gradient(#0083E6 0%, #0060A9 100%);
    border-bottom-color     : #FFFFFF;
    border-bottom-style     : none;
    border-bottom-width     : 0;
    border-image-outset     : 0;
    border-image-repeat     : stretch;
    border-image-slice      : 100%;
    border-image-source     : none;
    border-image-width      : 1;
    border-left-color       : #FFFFFF;
    border-left-style       : none;
    border-left-width       : 0;
    border-right-color      : #FFFFFF;
    border-right-style      : none;
    border-right-width      : 0;
    border-top-color        : #FFFFFF;
    border-radius           : 3px;
    border-top-style        : none;
    border-top-width        : 0;
    box-sizing              : border-box;
    color                   : #FFFFFF;
    cursor                  : pointer;
    display                 : block;
    font-size               : 16px;
    font-stretch            : 100%;
    font-style              : normal;
    font-variant-caps       : normal;
    font-variant-east-asian : normal;
    font-variant-ligatures  : normal;
    font-variant-numeric    : normal;
    height                  : 42px;
    letter-spacing          : normal;
    line-height             : 38px;
    list-style-type         : none;
    overflow-x              : visible;
    overflow-y              : visible;
    padding: 2px 12px 2px 12px;
    position                : relative;
    text-align              : center;
    text-decoration-color   : #FFFFFF;
    text-decoration-line    : none;
    text-decoration-style   : solid;
    text-indent             : 0;
    text-rendering          : auto;
    text-shadow             : none;
    text-size-adjust        : 100%;
    text-transform          : none;
    white-space             : nowrap;
    width: auto;
    word-spacing            : 0;
    writing-mode            : horizontal-tb;
    -webkit-appearance      : none;
    -webkit-font-smoothing  : antialiased;
    -webkit-border-image    : none;
    margin: 10px auto 0 auto !important;
    font-weight: bold;
}

div#page-body {
    margin: 95px 0 0 0;
}

.card-header h5 {
    margin: 0;
}