<script type="x/template" id="vue-change-payment-method">
    <div>
        <!-- MyAccount -->
        <div class="button-spacer" v-if="currentTemplate == 'tpl.my-account'" {{ set_testing_attr("data-testing", "change-payment-my-account") }}>

            <div v-if="changePossible" class="btn btn-primary btn-appearance btn-block" @click="openPaymentChangeModal()">
                <span>{{ trans("Ceres::Template.orderHistoryChangePayment") }}</span>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </div>

            <div class="payment-change-box-item" v-if="paymentStatus != 'fullyPaid'">
                <div v-if="!changePossible" class="payment-align-center">
                    <div class="alert alert-info cannot-change-payment mb-2">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span class="info-badge">{{ trans("Ceres::Template.orderHistoryChangePaymentNotAllowed") }}</span>
                    </div>
                </div>
            </div>

        </div>
        <!-- ./MyAccount -->

        <!-- CONFIRMATION  -->
        <div class="row findme" v-if="currentTemplate == 'tpl.confirmation'">

        </div>
        <!-- ./CONFIRMATION  -->

        <!-- CHANGE_PAYMENT_MODAL -->
        <div ref="changePaymentModal">
            <div class="modal fade" data-backdrop="static">
                <div class="modal-dialog" role="dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ trans("Ceres::Template.orderHistoryChooseNewPayment") }}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="{{ trans("Ceres::Template.closeIcon") }}" @click="closeModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body form-horizontal">

                            <div v-if="showIsSwitchableWarning" class="alert-warning cannot-change-payment switchable-warning">
                                <div class="warning-triangle">
                                    <i class="fa fa-exclamation-triangle font-size"  aria-hidden="true"></i>
                                </div>
                                <p class="warning-text">{{ trans("Ceres::Template.orderHistoryChangePaymentNotSwitchableWarning") }}</p>
                            </div>

                            <div class="cmp cmp-method-list list mb-5">
                                <ul class="method-list">
                                    <div class="method-list-item current-payment-text">
                                        <div class="content alert-info w-100">
                                            {{ trans("Ceres::Template.orderHistoryCurrentPaymentText") }}
                                            <span :id="'current_payment_method_name_' + currentOrder.id"> ${ currentPaymentMethodName} </span>
                                        </div>
                                    </div>
                                    <li v-for="paymentProvider in compAllowedPaymentMethods" class="method-list-item" :data-id="paymentProvider.id">

                                        <input
                                                type="radio"
                                                :id="'paymentMethod' + _uid + paymentProvider.id"
                                                :name="'MethodOfPaymentID_' + currentOrder.id"
                                                v-model="paymentMethod"
                                                :value="paymentProvider.id"
                                        >
                                        <label :for="'paymentMethod' + _uid + paymentProvider.id">
                                            <div class="icon">
                                                <img class="img-fluid" :src="paymentProvider.icon" :alt="paymentProvider.name" :title="paymentProvider.name">
                                            </div><!--
                                        --><div class="content">
                                                ${ paymentProvider.name }
                                                <small v-if="paymentProvider.sourceUrl" class="float-right">
                                                    <a :href="paymentProvider.sourceUrl" rel="noopener noreferrer" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> details</a>
                                                </small>
                                                <div>
                                                    <small>
                                                        ${ paymentProvider.description | truncate('150') }
                                                    </small>
                                                </div>
                                            </div>
                                        </label>
                                    </li><!--
                                    -->
                                </ul>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger mr-2" data-dismiss="modal">
                                <i class="fa fa-times" aria-hidden="true"></i> {{ trans("Ceres::Template.orderHistoryCancel") }}
                            </button>
                            <button type="button" :disabled="isPending || paymentMethod === 0" :class="{'disabled': isPending || paymentMethod === 0}" class="btn btn-primary" @click="changePaymentMethod()">
                                <i class="fa fa-check" aria-hidden="true"></i> {{ trans("Ceres::Template.orderHistoryChange") }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./CHANGE_PAYMENT_MODAL -->
    </div>
</script>
