{% extends getPartial('page-design') %}

{% set optionalInvoiceAddressFields = {
    "de": ceresConfig.addresses.billingAddressShow,
    "gb": ceresConfig.addresses.billingAddressShow_en
    }
%}
{% set requiredInvoiceAddressFields = {
    "de": ceresConfig.addresses.billingAddressRequire,
    "gb": ceresConfig.addresses.billingAddressRequire_en
    }
%}

{% block PartialHead %}
{% endblock %}

{% block PageBody %}
{% endblock %}
