{% extends getPartial('page-design') %}
{% import "Ceres::Checkout.Macros.Address" as address %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% if category is not defined %}
            {# Use page title from multiligualism if no category is linked to be used as order confirmation #}
            {% block title trans("Ceres::Template.orderConfirmation") %}
        {% endif %}
    {% endembed %}
{% endblock %}

{% block PageBody %}
    {{ component( "Theme::MyAccount.Components.ChangePaymentMethod" ) }}
    {% set hasShopBuilderContent = false %}
    
    {% if category is defined %}
        {% set shopBuilderTemplate = shop_builder_category_template(category.id, "content") %}
        {% if shopBuilderTemplate | trim is not empty %}
            {% set hasShopBuilderContent = true %}
            <div class="page-content myaccount container-max mb-5 mt-3 pb-5">
                <div class="row mb-5">
                    <div class="col-12">
                        {{ shopBuilderTemplate | raw }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
    {% if not hasShopBuilderContent %}
        {# No category defined to be used as order confirmation #}
        {% set overrideConfirmation = LayoutContainer.show("Ceres::OrderConfirmation.Override") %}
        {% set addContentAfterOrderDetailsRow = LayoutContainer.show("Ceres::OrderConfirmation.AddContentAfterOrderDetailsRow") %}
        {% if overrideConfirmation|trim is empty %}
            <div class="page-content myaccount container-max mb-5 mt-3 pb-5">
                <div class="row mb-5">
                    <div class="col-12">
                        <h1 class="h2">{{ trans("Ceres::Template.orderConfirmationThanks") }}</h1>
                        <p>{{ trans("Ceres::Template.orderConfirmationWillBeProcessed") }}</p>
                        
                        {{ LayoutContainer.show("Ceres::OrderConfirmation.AddContentAfterConfirmationThanks") }}
                    
                    </div>
                </div>
                
                {{ LayoutContainer.show("Ceres::OrderConfirmation.BeforeOrderDetails", data.order) }}
                
                
                {% include "Theme::content.Checkout.OrderDetails" with { orderData: data } %}
            </div>
        {% else %}
            {{ overrideConfirmation }}
        {% endif %}
    {% endif %}
{% endblock %}
