{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "Ceres::Checkout.Macros.OrderTotals" as Totals %}

{% import "Ceres::PageDesign.Macros.ItemName" as ItemName %}

{{ component( "Ceres::Item.Components.ItemBundle" ) }}

{% set basketTotalsCurrency = totals.currency %}

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card small">
            <!-- ORDER -->
            <div class="card-header">
                <h5>{{ trans("Ceres::Template.orderConfirmationOrderId") }} {{ orderData.order.id }}</h5>
            </div>
            <div class="card-body">
                <div class="details">
                    <div class="row">
                        <strong class="col-6 col-sm-5">{{ trans("Ceres::Template.orderConfirmationDate") }}</strong>
                        <span class="col-6 col-sm-7">{{ orderData.order.createdAt | formatDateTime | date(trans("Ceres::Template.devDateTimeFormat")) }}</span>
                    </div>

                    {% if orderData.status is defined and orderData.status is not empty %}
                        <div class="row">
                            <strong class="col-6 col-sm-5">{{ trans("Ceres::Template.orderConfirmationStatus") }}</strong>
                            <span class="col-6 col-sm-7">{{ orderData.status }}</span>
                        </div>
                    {% endif %}
                </div>

                <hr>

                <div>
                    <div class="row">
                        <strong class="col-6 col-sm-5">{{ trans("Ceres::Template.orderConfirmationInvoiceAddress") }}</strong>
                        <span class="col-6 col-sm-7">
                            <div>{{ orderData.order.billingAddress.name1 }}</div>
                            <div>{{ orderData.order.billingAddress | addressOptionType(12) }}</div>
                            <div>{{ orderData.order.billingAddress.name2 }} {{ orderData.order.billingAddress.name3 }}</div>
                            <div>{{ orderData.order.billingAddress.name4 }}</div>
                            <div>{{ orderData.order.billingAddress.address1 }} {{ orderData.order.billingAddress.address2 }}</div>
                            <div>{{ orderData.order.billingAddress.postalCode }} {{ orderData.order.billingAddress.town }}</div>
                            <div>{{ services.country.getCountryName(orderData.order.billingAddress.countryId) }}</div>
                        </span>
                    </div>

                    <div class="row mt-3">
                        <strong class="col-6 col-sm-5">{{ trans("Ceres::Template.orderConfirmationShippingAddress") }}</strong>
                        <span class="col-6 col-sm-7">
                            {% if orderData.order.billingAddress.id == orderData.order.deliveryAddress.id %}
                                <span>
                                    {{ trans("Ceres::Template.orderConfirmationSameAsInvoice") }}
                                </span>
                            {% else %}
                                <span>
                                    <div>{{ orderData.order.deliveryAddress.name1 }}</div>
                                    <div>{{ orderData.order.deliveryAddress | addressOptionType(12) }}</div>
                                    <div>{{ orderData.order.deliveryAddress.name2 }} {{ orderData.order.deliveryAddress.name3 }}</div>
                                    <div>{{ orderData.order.deliveryAddress.name4 }}</div>
                                    <div>{{ orderData.order.deliveryAddress.address1 }} {{ orderData.order.deliveryAddress.address2 }}</div>
                                    <div>
                                        {% if orderData.order.deliveryAddress.address1 == 'PACKSTATION' or orderData.order.deliveryAddress.address1 == 'POSTFILIALE' %}
                                            {{ trans("Ceres::Template.addressPostNummer") }}
                                            {{ orderData.order.deliveryAddress | addressOptionType(6) }}
                                        {% endif %}
                                        
                                        {{ orderData.order.deliveryAddress.address3 }}
                                    </div>
                                    <div>{{ orderData.order.deliveryAddress.postalCode }} {{ orderData.order.deliveryAddress.town }}</div>
                                    <div>{{ services.country.getCountryName(orderData.order.deliveryAddress.countryId) }}</div>
                                </span>
                            {% endif %}
                        </span>
                    </div>
                </div>

                <hr>

                {% if orderData.order.typeId == 1 %}
                    <div>
                        <div class="row">
                            <strong class="col-6 col-sm-5">{{ trans("Ceres::Template.orderConfirmationPaymentMethod") }}</strong>
                            <span class="col-6 col-sm-7" id="payment_name_{{ orderData.order.id }}">{{ orderData.paymentMethodName }}</span>
                        </div>
                        <div class="row">
                            <strong class="col-6 col-sm-5">{{ trans("Ceres::Template.orderConfirmationPaymentStatus") }}</strong>
                            {% set paymentMethodId = -1 %}
                            {% for propertyKey in orderData.order.properties %}
                                {% if orderData.order.properties[loop.index0].typeId == 4 %}
                                    {% set paymentStatus = entry.order.properties[loop.index0].value %}
                                    <span class="col-6 col-sm-7" id="payment_state_{{ orderData.order.id }}">{{ trans("Ceres::Template.orderConfirmationPaymentStatus_" ~ orderData.order.properties[loop.index0].value) }}</span>
                                {% elseif orderData.order.properties[loop.index0].typeId == 3 %}
                                    {% set paymentMethodId = orderData.order.properties[loop.index0].value %}
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% set currentTemplate = services.template.getCurrentTemplate() %}

                        {% if paymentMethodId != -1 and showAdditionalPaymentInformation == true %}
                            <change-payment-method
                                :current-order="{{ orderData.order | json_encode() }}"
                                :change-possible="{{ services.order.allowPaymentMethodSwitchFrom(paymentMethodId, orderData.order.id) | json_encode() }}"
                                :allowed-payment-methods="{{ services.order.getPaymentMethodListForSwitch(paymentMethodId, orderData.order.id) | json_encode() }}"
                                :payment-status="{{ paymentStatus | json_encode() }}"
                                :current-payment-method-name="{{ orderData.paymentMethodName | json_encode() }}"
                                :current-template="{{ currentTemplate | json_encode() }}">
                            </change-payment-method>
                        {% endif %}

                        {{ LayoutContainer.show("Ceres::OrderConfirmation.AdditionalPaymentInformation", orderData.order) }}

                    </div>

                    <hr>
                {% endif %}

                <div>
                    <div class="row">
                        <strong class="col-6 col-sm-5">{{ trans("Ceres::Template.orderConfirmationShippingProfile") }}</strong>
                        <span class="col-6 col-sm-7">{{ orderData.shippingProvider }} - {{ orderData.shippingProfileName }}</span>
                    </div>
                    
                    {% set shippingDate = "" %}
                    {% for date in orderData.order.dates %}
                        {% if date.typeId == 8 %}
                            {% set shippingDate = date.date %}
                        {% endif %}
                    {% endfor %}

                    {% if shippingDate %}
                        <div class="row">
                            <strong class="col-6 col-sm-5">{{ trans("Ceres::Template.orderConfirmationEstimatedShippingDate") }}</strong>
                            <span class="col-6 col-sm-7">{{ shippingDate | date(trans("Ceres::Template.devDateFormat")) }}</span>
                        </div>
                    {% endif %}

                    {{ LayoutContainer.show("Ceres::OrderConfirmation.AdditionalShippingInformation", orderData.order) }}
                </div>

            </div>
            <!-- ORDER -->
        </div>

    </div>

    <div class="col-md-6">
        <div class="confirmation-order-list">
            {% for item in orderData.order.orderItems %}
                {% if item.itemVariationId > 0 and not ('[-]' in item.orderItemName) %}
                    {% set currentVariationId = item.itemVariationId | trimNewlines %}
                    <article class="cmp cmp-order-item">
                            <img src="{{ orderData.itemImages | getObjectValue(currentVariationId) }}" alt="{{ item.orderItemName }}" title="{{ item.orderItemName }}">
                        <div class="item-details small">
                                <div class="item-name">
                                    {{ ItemName.get(item.orderItemName, item.bundleType) }}
                                </div>

                            {% if splitItemBundle != "1" and item.bundleType == "bundle" %}
                                <div class="mb-3 item-bundle">
                                    {% for bundleComponent in item.bundleComponents %}
                                        <div>
                                            <span class="text-muted">{{ bundleComponent.quantity }} x</span>
                                            {{ bundleComponent.data | itemName }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% set itemAmount = item.amounts[0] %}
                            {% for amount in item.amouts if not amout.isSystemCurrency %}
                                {% set itemAmount = amount %}
                            {% endfor %}

                            {% set itemPrice = 0 %}
                            {% if orderData.highlightNetPrices %}
                                {% set itemPrice = itemAmount.priceOriginalNet %}
                                {% set discountAmount = itemAmount.priceOriginalNet - itemAmount.priceNet %}
                                {% set itemPriceTotal = item.quantity * itemAmount.priceNet %}
                            {% else %}
                                {% set itemPrice = itemAmount.priceOriginalGross %}
                                {% set discountAmount = itemAmount.priceOriginalGross - itemAmount.priceGross %}
                                {% set itemPriceTotal = item.quantity * itemAmount.priceGross %}
                            {% endif %}

                            <div class="row">
                                <strong class="col-6 col-sm-3 col-md-5">{{ trans("Ceres::Template.orderConfirmationPricePerPiece") }}</strong>
                                <span class="col-6 col-sm-9 col-md-7 text-right">{{ itemPrice | formatMonetary( itemAmount.currency ) }}</span>
                            </div>
                            {% if discountAmount > 0 %}
                                <div class="row rebate-hint">
                                    <strong class="col-6 col-sm-3 col-md-5">{{ trans("Ceres::Template.orderConfirmationItemDiscount") }}</strong>
                                    <span class="col-6 col-sm-9 col-md-7 text-right">{{ discountAmount | formatMonetary( itemAmount.currency ) }}</span>
                                </div>
                            {% endif %}
                            <div class="row">
                                <strong class="col-6 col-sm-3 col-md-5">{{ trans("Ceres::Template.orderConfirmationQuantity") }}</strong>
                                <span class="col-6 col-sm-9 col-md-7 text-right">{{ item.quantity }}</span>
                            </div>
                            <div class="row">
                                <strong class="col-6 col-sm-3 col-md-5">{{ trans("Ceres::Template.orderConfirmationTotal") }}</strong>
                                <strong class="col-6 col-sm-9 col-md-7 text-right">{{ itemPriceTotal | formatMonetary( itemAmount.currency ) }}</strong>
                            </div>

                            {% for attribute in item.attributes %}
                                <div>
                                    <strong>{{ attribute.name }}: </strong>
                                    <span>{{ attribute.value }}</span>
                                </div>
                            {% endfor %}

                            {% if item.orderProperties %}
                                {% for property in item.orderProperties %}
                                    <div class="row">
                                        <strong class="col-6 col-sm-3 col-md-5 item-word-break">{{ property | propertyName }}</strong>
                                        {% if property.type == 'file' %}
                                            <span class="col-6 col-sm-9 item-word-break">
                                                {% set splitPath = property.value |split('/') %}
                                                {% set filename = '' %}
                                                {% set path = '' %}

                                                {% for temp in splitPath %}
                                                    {% if loop.first %}
                                                        {% set path =  temp %}
                                                    {% elseif loop.last %}
                                                        {% set filename = temp %}
                                                    {% else %}
                                                        {% set path =  path ~ '/' ~ temp %}
                                                    {% endif %}
                                                {% endfor %}


                                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                                    {{ splitPath | last }}
                                            </span>
                                        {% elseif property.type == "selection" %}
                                            <span class="col-6 col-sm-9 col-md-7 item-word-break">
                                                {{ property | propertySelectionValueName }}
                                            </span>
                                        {% elseif property.type | length > 0 %}
                                            <span class="col-6 col-sm-9 col-md-7 item-word-break">{{ property.value }}</span>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </article>
                {% endif %}
            {% endfor %}

        </div>
        
        {{ Totals.forOrder(orderData) }}
    </div>
</div>
