{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
<header id="page-header" class="top-bar header-fw fixed-top">
    <div>
        {% include "Theme::content.PageDesign.Partials.Header.Navigation" %}
    </div>
</header>